<div class="jumbotron container-fluid main-flex-column bg-dark text-light">

    <h1>Oops, Page Not Found</h1>
    <p><%= `Error ${status}. ${message}` %></p>
    <hr class="my-3 document-divider">
    <a href="/" class="btn btn-light"><i class="fa fa-home" aria-hidden="true"></i><span>Home
            page</span></a>


</div>