<section class="main-contact-form">
    <div class="row">
        <div class="col-md-5 mx-auto mt-3 mb-2">
            <label for="fullname" class="text-info mb-0">Full name</label><span class="requiredfield"> *</span>
            <input type="text" class="form-control form__input mt-2" <% if (user != null) { %>
                value="<%= user.firstname%>, <%= user.lastname %>" <% } %>name="fullname" required
                placeholder="Enter your full name" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 mx-auto mb-2">
            <label for="email" class="text-info mb-0 mt-2">Your email</label> <span class="requiredfield">
                *</span>
            <input type="email" class="form-control form__input" name="email" <% if (user != null) { %>
                value="<%= user.email %> " <% } %> required placeholder="Enter your email" required>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 mx-auto mb-2">
            <label for="telephone" class="text-info mb-0">Phone Number</label> <span class="requiredfield"> *</span>
            <input type="tel" class="form-control form__input" <% if (user != null) { %> value="<%= user.phone %> "
                <% } %>name="telephone" required placeholder="Enter your phone number" required>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 mx-auto mb-2">
            <label for="subject" class="text-info mb-0">Subject</label> <span class="requiredfield"> *</span>
            <select class="custom-select" name="subject" required>
                <option selected label="-- Select subject --"></option>
                <option label="Competition" value="Competition"></option>
                <option label="Enquiry" value="Enquiry"></option>
                <option label="Advertise" value="Advertise"></option>
                <option label="E-Classroom" value="E-Classroom"></option>
                <option label="Something Else" value="Something Else"></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 mx-auto mb-2">
            <div class="form-group">
                <label for="subject-details" class="text-info mb-0">Please provide some details below:</label>
                <textarea class="form-control" id="subject-details" rows="3"></textarea>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-5 mx-auto mb-2">
            <label for="file" class="text-danger mb-0"><small>You may attach [ jpeg | png | mp3 | mp4 ]</small></label>
            <input type="file" class="mb-2" name="attachment" id="attachment" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 mx-auto mb-2">
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" name="signedConsent" id="check" value="YES">
                    <label class="custom-control-label" for="check">
                        <small>By ticking this box, you confirm that you, your parent/guardian have read and agree to <a
                                href="/brainstv/our-terms">Our
                                Terms</a> and <a href="/brainstv/privacy-policy">Our Privacy
                                Policy</a>.</small>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 mx-auto mb-4">
            <a href="/" class="btn btn-danger"><i class="fa fa-times-circle"
                    aria-hidden="true"></i><span>Cancel</span></a>
            <button type="submit" class="btn btn-success send_email__cta btncheck" id="loader"><i class="fa fa-envelope"
                    aria-hidden="true"></i><span>Send Email</span></button>
        </div>
    </div>
</section>