<div class="jumbotron container-fluid">
    <div class="input-group margin-bottom-sm">
        <span class="input-group-addon bg-light p-1"><i class="fa fa-th shows" aria-hidden="true"></i></span>
        <span class="dark-blue-gradient-background p-1">Advertisement</span>
    </div>

    <div class="row align-items-center">
        <div class="col-8 pt-3">
            <div class="card card-block align-items-center p-2">
                <p>Advertising with Brains TV is very easy. Advertising with Brains TV is very easy.</p>
                <p>Advertising with Brains TV is very easy. Advertising with Brains TV is very easy.</p>
                <p>Advertising with Brains TV is very easy. Advertising with Brains TV is very easy.</p>
                <p>Advertising with Brains TV is very easy. Advertising with Brains TV is very easy.</p>

                <br />
                <strong>Contact David on 09039000082 for more details.</strong>
            </div>
        </div>
        <div class="col-4">
            <a href="/brainstv/advertising-price-list" class="btn btn-info"><i class="fa fa-download"></i>Download
                Pricing</a>
        </div>
    </div>

</div>