<div class="jumbotron container-fluid timber-gradient">

    <h4>Contact Us, We'll love to hear from you</h4>
    <hr class="my-1 document-divider">
    <!-- <form action="/brainstv/contact-us" method="POST"> -->
    <form action="/brainstv/sendContactForm" enctype="multipart/form-data" method="POST" id="contact_brainstv"
        class="bg-light rounded-lg p-3">
        <%- include('_contact_form_fields') %>

    </form>
</div>