<div class="jumbotron container-fluid">
    <h3>Terms of use for BrainsTV's Online Services</h3>
    <div class="scrollspy-div">
        <div class="row">
            <div class="col-4">
                <div id="terms-of-use" class="list-group desktopScreen">
                    <a class="list-group-item list-group-item-action" href="#list-item-1">Terms of Use</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">Registration and Uploads</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">Restriction for Users</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">Limitation of Liability</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-5">Brains Television
                        Disclaimer</a>
                </div>
            </div>
            <div class="col-8">
                <div data-spy="scroll" data-target="#terms-of-use" data-offset="25" class="scrollspy-body bg-white p-3"
                    tabindex="0">
                    <h2 id="list-item-1">Terms of Use</h2>
                    <p>Welcome to Brains Television. Where excellent and educational programmes and shows
                        are
                        broadcasted to
                        develop minds thereby influencing the society and building a healthy educated
                        nation.
                    </p>
                    <p>Brains Television provides viewers with a wide variety of educational programmes in
                        different sectors
                        such as Education, Health, Sports, Business, Politics, etc and also Moral Ethics.
                    </p>
                    <p>Please review the following basic rules that govern your use of the Brains Television
                        website.
                        <strong>Please
                            note that your use of the Brains TV website establish your unconditional
                            agreement
                            to follow and
                            be
                            bound by these Terms and Conditions</strong>. Brains Television reserves the
                        right
                        to update or
                        modify these
                        Terms and Conditions at any time without prior notice to you, and we encourage you
                        to
                        review these
                        Terms and Conditions whenever you use this Site. </p>
                    <p>Brains Television site contains graphics, images, document layouts, text, fonts, photographs,
                        artwork, software and other information (herein referred to as “Content”). This Site and all
                        Content are the copyrighted property of Brains TV and/or the copyrighted property of parties
                        from whom Brains TV has licensed such property. All rights in this Site and its Content are
                        reserved worldwide. It is strictly prohibited to retain copy, distribute, publish, or use any
                        portion of the Content except as expressly permitted in these Terms of Use.
                    </p>
                    <p>Brains Television provides no warranty of any kind that uploads (Pictures and Video) will not
                        infringe, or be subject to a claim of infringing, the trademark or other rights of another
                        party. It is solely your responsibility to obtain the advice of an attorney regarding whether
                        the Uploads elements are legally available for your use and does not infringe the rights of
                        another party.
                    </p>

                    <h2 id="list-item-2">Registration and Uploads</h2>
                    <p>It is advised you register your (ward) details by creating a user ID and a password to join
                        Brains Club before you can upload any pictures or video and start to benefits the privileges we
                        have to offer. It is your responsibility as a user of this website to maintain and protect the
                        confidentiality of your password and user id and also, control access to your registered
                        account. <strong>You agree that you will be responsible for all actions that are taken through
                            your registered account</strong>.</p>
                    <p>You agree to immediately notify us of any unauthorized use of your account, password, or any
                        other breach of security known to you. Brains TV will not be liable for any issues/loss that you
                        may incur as a result of someone else using or accessing your password or account, either with
                        or without your knowledge. However, you may be held liable for losses incurred by us or any
                        other party as a result of someone else using or accessing your password or account. You will
                        not use anyone else’s account at any time without the permission of the account holder. You may
                        change your password or profile by following instructions on the site.</p>
                    <p>Please be aware that any uploads you place on the site will be placed in your account history and
                        archived automatically. While uploading any file or folder you will ensure that the contents do
                        not infringe any third parties rights and is virus or malware free. <strong>WE ONLY ACCEPT
                            PICTURE, VIDEO AND AUDIO</strong>. <strong><span class="requiredfield">NO URL
                                LINK</span></strong>. We are sorry, <strong>WE WILL NOT CLICK</strong> on any
                        <strong>LINK</strong> sent to us. </p>
                    <p><strong>Please note that Pictures and Video should be well presented as we will not any before
                            public presentation</strong></p>
                    <h2 id="list-item-3">Restriction for Users</h2>
                    <p>You agree to abide by all laws prevailing in Nigeria and internationally.</p>
                    <p>You agree not to use the service to</p>
                    <p>Upload content or otherwise make available any content that is malicious, abusive, offensive,
                        defamatory, libelous, vulgar, obscene, invasive of another’s privacy, or otherwise
                        objectionable,
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="form-li-flex"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <p>Be harmful to minors,</p>
                        </li>
                        <li class="form-li-flex"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <p>Impersonate any person or entity,</p>
                        </li>
                        <li class="form-li-flex"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <p>Misrepresent your affiliation with a person or entity,</p>
                        </li>
                        <li class="form-li-flex"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <p>Reveal confidential information to third parties,</p>
                        </li>
                        <li class="form-li-flex"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <p>Create documents for illegal activities; Upload or otherwise make available any content
                                that infringes any patent, trademark, trade secret, copyright or other proprietary
                                rights of any party. Upload or otherwise make available any material that contains
                                software viruses or any other computer code, files or programs designed to interrupt,
                                destroy or limit the functionality of any computer software or hardware or
                                telecommunications equipment. Interfere with or disrupt the Service or servers or
                                networks connected to the Service, or disobey any requirements, procedures, policies or
                                regulations of networks connected to the Service, </p>
                        </li>
                        <li class="form-li-flex"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <p>Collect or store personal data about other users,</p>
                        </li>
                        <li class="form-li-flex"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <p>Modify, adapt, disassemble, recompile and/or reverse engineer either the website or
                                service,</p>
                        </li>
                        <li class="form-li-flex"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <p>Upload explicit sexual content or is per se vulgar or has vulgar references or content,
                            </p>
                        </li>
                        <li class="form-li-flex"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <p>Harass, threaten/ defame or abuse others</p>
                        </li>
                        <li class="form-li-flex"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <p>Take action that impose any unreasonable or disproportionately large load on the website
                                or the Service,
                            </p>
                        </li>
                        <li class="form-li-flex"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <p>Use a robot, spider or other device or process to monitor the activity on or copy pages
                                from the Website or the Service,</p>
                        </li>
                        <li class="form-li-flex"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <p>Collect electronic mail addresses or other information from our website,</p>
                        </li>
                        <li class="form-li-flex"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <p>Impersonate another person or entity,</p>
                        </li>
                        <li class="form-li-flex"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <p>Engage in any activity that interferes with any person’s ability to use or access the
                                Website and/or services,</p>
                        </li>
                        <li class="form-li-flex"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <p>Assist, procure or aid any person to engage in any activity prohibited by these Terms of
                                Use,</p>
                        </li>
                        <li class="form-li-flex"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                            <p>Frame or link or otherwise use or display the Website in such a manner so that it appears
                                to be part of its own or someone else's website, without specific agreement.</p>
                        </li>
                    </ul>
                    <p>User acknowledges and agrees that Brains TV may in its sole and unfettered discretion,
                        unilaterally and without notice, terminate these terms of use, disable and deny the user access
                        to the website and the services, and take legal action against any user who engages in any
                        activity or conduct that is prohibited by these terms of use and/ or by any relevant law,
                        regulation or rule</p>
                    <h2 id="list-item-4">Limitation of Liability</h2>
                    <p><strong>WE SHALL NOT BE LIABLE FOR DAMAGES ARISING FROM MISTAKE, OMISSION, VIRUS, DELAY, OR
                            INTERRUPTION OF SERVICE. IN NO EVENT SHALL BRAINS TELEVISION BE LIABLE OR RESPONSIBLE FOR
                            ANY DAMAGES OR CONSEQUENCES ARISING FROM OR RELATED TO YOUR INAPPROPRIATE OR UNAUTHORISED
                            USE OF THIS SITE OR IT’S CONTENT.</strong></p>
                    <h2 id="list-item-5">Brains Television Disclaimer</h2>
                    <p>We cannot be responsible for: Spelling, punctuation or grammatical errors made by the customer/
                        consumer, inferior quality or low-resolution of uploaded images, design errors introduced by the
                        customer/ consumer in the document creation process. Please preview your designs carefully and
                        correct any mistakes prior to uploading them on our site. Brains TV does not proof documents
                        created by its customers/consumer prior to publication.</p>
                </div>
            </div>



        </div>

    </div>
<small>Last updated: May 2021<small>
</div>