<div class="jumbotron container-fluid">
    <h3>Brains Television Privacy Policy</h3>
    <div class="scrollspy-div">
        <div class="row">
            <div class="col-4">
                <div id="terms-of-use" class="list-group desktopScreen">
                    <a class="list-group-item list-group-item-action" href="#list-item-1">Privacy Policy</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-2">Information You send to Us</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-3">How we use the information we
                        collect</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-4">Sharing Your Information</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-5">Children Policy</a>
                    <a class="list-group-item list-group-item-action" href="#list-item-6">Cookies</a>
                </div>
            </div>
            <div class="col-8">
                <div data-spy="scroll" data-target="#terms-of-use" data-offset="25" class="scrollspy-body bg-white p-3"
                    tabindex="0">
                    <h2 id="list-item-1">Privacy Policy</h2>
                    <p>Our Privacy policy describes the way we manage the personal information you give us while
                        accessing/visiting our site.
                    </p>
                    <p>By using or visiting our website, you agree to this privacy policy and any information we collect
                        about while you use/visit our website will be handled in accordance with this privacy policy and
                        will not be shared except in accordance with this privacy policy.
                    </p>


                    <h2 id="list-item-2">Information You send to Us</h2>
                    <p>When you visit our website, you will need to register using our online registration form <a
                            href="/clubmembers/joinbrainsclub"><strong>HERE</strong></a>
                        where you may be required to provide us with your contact and identity information, email and
                        password when you sign up for Brains club or want to upload pictures or videos/audio.</p>
                    <p>You always have the option to not provide information; however, withholding information may
                        prevent you from using some of the features on our website.</p>

                    <h2 id="list-item-3">How we use the information we collect</h2>
                    <p>We use the information that we collect about you to maintain, improve and administer our website,
                        operate our business, provide products and services that you request, administer your account-
                        <strtong>CHILDREN STORE</strtong>, inform you about event or programme that may interest you.
                    </p>

                    <h2 id="list-item-4">Sharing Your Information</h2>
                    <p>We do not share the information you gave us with third parties except in some circumstance with
                        company that partner and perform services like our Online Children store (Brains Store) on our
                        behalf such as in the case when sales are made and packages are to be delivered to you. </p>
                    <p>We may also disclose information including personal information we collect about you in other
                        circumstances as required or permitted by law but in accordance with our nation’s Children act.
                    </p>
                    <h2 id="list-item-5">Children Policy</h2>
                    <p>Brains Television is keen to protecting your Child’s privacy.</p>
                    <p>Some features on our website require children to provide some personal information before you can
                        use them or for us to send packages to you we will need some delivery information through Brains
                        store but we ensure we get the consent of the parent before we get these information and we
                        secure every information we receive from you and your children.</p>
                    <p>Everyone working for Brains Television must support and encourage the safety and protection of
                        all children involve in any of her programmes and productions and we totally disagree with and
                        will honestly deal with any form (gender, age, race, disability, religion or beliefs)of abuse on
                        any child.</p>
                    <p>Brains Television will ensure the receipt of the child and parent consents for any of her
                        recorded or live programme participation or for programmes that involve tavels.</p>
                    <p>The programmes will be fully explained to the parent/guardian of the child before participation
                        and under no circumstance will the child or parent/guardian will be persuaded financially to
                        sign their consent.</p>
                    <p>Where applicable, Brains Television will ensure that we receive the full consent of School Head
                        or Head Teacher prior to any interview with a student or filming any session in a class or
                        within the school vicinity.</p>
                    <h2 id="list-item-6">Cookies</h2>
                    <p>Cookies are small files that website put on your computer hard disk drive when you first visit.
                        They are designed to hold a modest amount of data specific to you and the website.</p>
                    <p>To get the most out of our website, you need to enable cookies. If cookies are disabled, you may
                        find that certain sections of our website do not work.</p>
                    <p>Cookies help you to keep track of your movements within the site, help you resume where you left
                        off, remind you of your registered login details, theme selection preferences, and other
                        customisation functions.</p>
                    <p>Our website uses session cookies which are created temporarily in your browser’s sub folder while
                        you visit the website. They do not collect information that identifies you as a visitor. There
                        are some cookies which MUST be enabled for you to use features on our website. These cookies are
                        strictly necessary to provide the services that you have specifically asked for on our website
                        and essential to enable you to move around our website and use its features, such as check-out
                        and product purchase. Without these cookies, certain services you have asked for, like shopping
                        baskets or check-out, may not be provided. We do not need to obtain your consent to use these
                        cookies.</p>
                    <p>Another cookie that exists on our website is advertising cookies. These cookies are used to
                        deliver advertisements that are more relevant to you and your interests. By using the website,
                        you agree that we can place these types of cookies on your device. They are also used to limit
                        the number of times you see an advertisement and help measure the effectiveness of an
                        advertising campaign. These cookies are usually third parties cookies.</p>
                    <p>It is important that we bring to your notice that cookies are <strong>NOT</strong> viruses.
                        Cookies use a plain
                        text format. They are not compiled pieces of code so they cannot be executed nor are they self-
                        executing. Also, they cannot make copies of themselves and spread to other networks to execute
                        and replicate again.</p>
                    <p>Additionally, you may encounter cookies or other similar devices on certain pages of the site
                        that are placed by third parties and in some cases; we do not control the use of cookies placed
                        by third parties.</p>
                </div>
            </div>



        </div>

    </div>
<small>Last updated: May 2021<small>
</div>