<div class="jumbotron container-fluid">
  <div class="mpq transparentWhiteBlock">
    <h1>Frequently Asked Questions</h1>
    <ul class="mpqGroup">
      <% faq.forEach(qna => { %>
      <li class="mpq__list">
        <div class="question">
          <p><%= qna.question %></p>
          <ion-icon name="add-circle-outline" class="icon__btn"></ion-icon>
        </div>
        <div class="answer rounded">
          <p><%= qna.answer %></p>
        </div>
      </li>
      <!-- <li class="mpq__list">
            <div class="question">
              <p>Can I download workouts to watch them offline?</p>
              <ion-icon name="add-circle-outline" class="icon__btn"></ion-icon>
            </div>
            <div class="answer">
              <p>Yes, workouts can be downloaded via the app so you can watch them without an internet connection.
              </p>
            </div>
          </li>
          <li class="mpq__list">
            <div class="question">
              <p>1,100+ workouts is a lot to choose from. How will I figure out what program is right for me?</p>
              <ion-icon name="add-circle-outline" class="icon__btn"></ion-icon>
            </div>
            <div class="answer">
              <p>Using our program selector, you can filter programs by fitness level, type, time, and trainer to
                find your perfect match.
              </p>
            </div>
          </li>
          <li class="mpq__list js__hide">
            <div class="question">
              <p>Do the workouts have modifiers?</p>
              <ion-icon name="add-circle-outline" class="icon__btn"></ion-icon>
            </div>
            <div class="answer">
              <p>Yes, many of our workouts have a modifier option to help you get started. Some even have an
                intensifier for when you’re ready to kick it up a notch.
              </p>
            </div>
          </li>
          <li class="mpq__list js__hide">
            <div class="question">
              <p>What nutritional content is available?</p>
              <ion-icon name="add-circle-outline" class="icon__btn"></ion-icon>
            </div>
            <div class="answer">
              <p>Beachbody On Demand offers customized nutrition plans, recipes, meal prep tips, a healthy cooking
                show, and more!
              </p>
            </div>
          </li>
          <li class="mpq__list js__hide">
            <div class="question">
              <p>Does Beachbody On Demand work with my heart rate monitoring device?</p>
              <ion-icon name="add-circle-outline" class="icon__btn"></ion-icon>
            </div>
            <div class="answer">
              <p>Beachbody On Demand works with Apple Watch® and Wahoo® heart rate monitors.
              </p>
            </div>
          </li> -->
      <% }) %>
    </ul>
    <!-- <div class="viewMore">
          <p class="viewMoreText">View More</p>
          <span class="viewMore__btn">
            <ion-icon name="add-circle" class="viewMore__btn__icon"></ion-icon>
          </span>
        </div> -->
  </div>
</div>