<div class="jumbotron container-fluid">
    <a href="/brainstv" class="btn btn-info marginTopBottomSmall"><i class="fa fa-arrow-circle-left"
            aria-hidden="true"></i><span>Back</span></a>
    <nav class="navbar navbar-light bg-info">
        <a class="navbar-brand">Search shows</a>
        <form action="/clubmembers/viewmemberbyid" method="GET" class="form-inline">
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <input type="text" class="form-control" name="title" value="<%#= searchOptions.firstname %>"
                        placeholder="Show title" aria-label="Search">
                </div>
                <div class="col-auto my-1">
                    <input type="date" class="form-control" name="publishedAfter"
                        value="<%#= searchOptions.registeredAfter %>" placeholder="Published after">
                </div>
                <div class="col-auto my-1">
                    <input type="date" class="form-control" name="publishedBefore"
                        value="<%#= searchOptions.registeredBefore %>" placeholder="Published before">
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-outline-success" id="loader">Search</button>
                </div>
            </div>

        </form>
    </nav>
    <hr class="my-1 document-divider">
    <video width="320" height="240" controls src="" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>