<div class="jumbotron container-fluid">
    <h4>TV Schedule</h4>
    <hr class="my-1 document-divider">

    <nav class="navbar navbar-light bg-info">
        <a class="navbar-brand">Search Showing Name</a>
        <form action="/brainstv/tvschedule" method="GET" class="form-inline my-2 my-lg-0 searchForm">
            <input class="form-control mr-sm-2" type="search" name="showingName"
                value="<%= searchOptions.showingName %>" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 searchBtn" type="submit" id="loader">Search</button>

        </form>
    </nav>

    <div class="table-responsive-sm">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ShowingAt</th>
                    <th scope="col">Showing Name</th>
                    <th scope="col">Link to the show</th>
                </tr>
            </thead>
            <tbody>
                <% if(tvschedule != null && tvschedule.length != 0) { %>

                <% tvschedule.forEach(schedule => { %>
                <tr>
                    <td><%= schedule.airTime %></td>
                    <td><%= schedule.showingName %></td>
                    <td><a href="<%= schedule.showPageLink %>" target="_blank">
                            <div class="btn btn-warning" style="height:100%;width:100%">
                                More...
                            </div>
                        </a>
                    </td>
                </tr>
                <% }) %>
                <% } %>
            </tbody>
        </table>
    </div>

</div>