<div class="form-group row">
    <label for="popupBackground">Popup Background Image</label>
    <div class="col-sm-5 my-2">
        <input type="file" name="popupBackground" class="filepond">
    </div>
</div>
<div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10 my-1">
        <textarea type="text" name="title" class="form-control"
            placeholder="Enter title here"><%= popup.title %></textarea>
    </div>
</div>
<div class="form-group row">
    <label for="subtitle" class="col-sm-2 col-form-label">Subtitle</label>
    <div class="col-sm-10 my-1">
        <textarea type="text" name="subtitle" class="form-control"
            placeholder="Enter subtitle or detail here"> <%= popup.subtitle %> </textarea>

    </div>
</div>
<div class="form-group row">
    <label for="footer" class="col-sm-2 col-form-label">Footer</label>
    <div class="col-sm-10 my-1">
        <input type="text" name="footer" class="form-control" placeholder="Enter footer text here"
            value="<%= popup.footer %>">
    </div>
</div>