<form method="post" action="<%= url %>?_method=DELETE">
    <button type="submit" class="btn btn-danger text-light" title="Delete"><i class="fa fa-trash"
            aria-hidden="true"></i> Delete</button>
</form>