<footer>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/brainstv/privacy-policy">Privacy Policy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/brainstv/our-terms">Our Terms</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/brainstv/question-and-answers">Question & Answers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/brainstv/contact-us">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/brainstv/advertise">Advertise</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/brainstv/shop">Shop</a>
    </li>

  </ul>

  <small>
    Copyright &copy; Brains TV <%= new Date().getFullYear() %> . All Rights Reserved.
  </small>
</footer>