<header>
  <nav class="navbar top-header">
    <div class="navbar">
      <a class="nav-link" href="/tvSchedule">TV SCHEDULE</a>
    </div>
    <div class="social-icons">
      <i class="fa fa-envelope fa-lg" aria-hidden="true"></i>
      <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
      <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
      <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i>
      <i class="fa fa-linkedin-square fa-lg" aria-hidden="true"></i>
    </div>
    <div class="search-bar">
      <form class="form-inline my-2 my-lg-0" id="searchForm">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" id="searchBtn" type="submit">Search</button>
      </form>
    </div>
    <div class="navbar" id="auth-link">
      <a class="nav-link login" href="/login"><i class="fa fa-user" aria-hidden="true"></i>SIGN IN</a>
      <a class="nav-link register" href="/clubmembers/newclubmember"><i class="fa fa-user-plus"
          aria-hidden="true"></i>JOIN BRAINS CLUB</a>
    </div>

  </nav>
  <nav class="navbar menu-bar">
    <div class="nav-menu-buttons">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/">
          <img src="/images/transparentlogo.png" class="d-inline-block align-top" id="logo" alt="BrainsTV Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link menuItems" href="/brainstv/shows"><i class="fa fa-television fa-lg shows"
                  aria-hidden="true"></i><span>Shows</span> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link menuItems" href="/brainstv/games"><i class="fa fa-gamepad fa-lg games"
                  aria-hidden="true"></i><span>Games</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link menuItems" href="/brainstv/videos"><i class="fa fa-play fa-lg videos"
                  aria-hidden="true"></i><span>Videos</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link menuItems" href="/brainstv/activities"><i class="fa fa-cubes fa-lg activities"
                  aria-hidden="true"></i><span>Activities</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link menuItems" href="/brainstv/takepart"><i class="fa fa-commenting fa-lg takePart"
                  aria-hidden="true"></i><span>Take Part</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link menuItems" href="/brainstv/eclassroom"><i class="fa fa-edge fa-lg eClassRoom"
                  aria-hidden="true"></i><span>E-Classroom</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link menuItems" href="/brainstv/newsroom"><i class="fa fa-newspaper-o fa-lg newsRoom"
                  aria-hidden="true"></i><span>Newsroom</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link menuItems dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h fa-lg ellipsis"
                  aria-hidden="true"></i><span>More</span></a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/brainstv/question-and-answers">Questions & Answers</a>
                <a class="dropdown-item" href="/brainstv/contact-us">Contact Us</a>
                <a class="dropdown-item" href="/brainstv/advertise">Advertise</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/brainstv/our-terms">Our Terms</a>
                <a class="dropdown-item" href="/brainstv/privacy-policy">Privacy Policy</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/brainstv/shop">Shop</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

    </div>

  </nav>
  <div class="informationFlash">
    <h3>Next time you hear about this, try not to scroll and be sure to avoid collision with others in the room... </h3>
  </div>
</header>