<div class="jumbotron container-fluid">
    <div class="form-group row">
        <div class="col-sm-10">
            <a href="/brainstvadmins/shows" class="btn btn-info"><i class="fa fa-arrow-circle-left"
                    aria-hidden="true"></i><span>Back</span></a>
        </div>
    </div>
    <nav class="navbar navbar-light bg-info">
        <a class="navbar-brand">Edit Show By Id</a>
    </nav>
    <hr class="my-3 document-divider">
    <form action="/brainstvadmins/shows/<%= show.id %>?_method=PUT" method="POST">
        <%- include('_edit_form_fields') %>
        <div class="form-group row">
            <div class="col-sm-10 marginTopBottomBig">
                <button type="submit" class="btn btn-success" id="loader"><i class="fa fa-cloud"
                        aria-hidden="true"></i><span>Update</span></button>
            </div>
        </div>
    </form>

</div>