<div class="form-row align-items-center">
    <label for="class" class="sr-only">Age Group/Class</label>
    <!-- <div class="col-sm-3 my-1"> -->
    <div class="col-md-3">
        <input type="text" class="form-control" name="className" value="<%= eclass.className%>"
            placeholder="Enter Age Group/Class name">
    </div>

    <div class="col-sm-3 my-1">
        <span class="role"><button type="button" class="btn btn-sm btn-warning" data-toggle="popover"
                data-trigger="focus" title="Class Names"
                data-content="Class name is related to membership registration and cannot be deleted once selected by a member. However admin can create, edit and delete unassigned classes."><i
                    class="fa fa-question-circle-o" aria-hidden="true"></i></button></span>
    </div>
</div>