<div class="jumbotron container-fluid">
    <div class="form-group row">
        <div class="col-sm-10">
            <a href="/brainstvadmins" class="btn btn-info"><i class="fa fa-arrow-circle-left"
                    aria-hidden="true"></i><span>Back</span></a>
        </div>
    </div>
    <nav class="navbar navbar-light bg-info">
        <a class="navbar-brand">Upload New Site Logo</a>
    </nav>
    <hr class="my-3 document-divider">
    <div class="row">
        <div class="form-group col-md-4 mb-2">
            <form action="/sitelogos" method="POST">
                <div class="form-group row">
                    <div class="col-sm-5 my-2">
                        <input type="file" name="sitelogo" class="filepond" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <a href="/brainstvadmins" class="btn btn-danger"><i class="fa fa-times-circle"
                                aria-hidden="true"></i><span>Cancel</span></a>
                        <button type="submit" class="btn btn-success" id="loader"><i class="fa fa-cloud"
                                aria-hidden="true"></i><span>Upload</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>