<div class="jumbotron container-fluid">
        <a href="/sitelogos" class="btn btn-info marginTopBottomSmall"><i class="fa fa-arrow-circle-left"
                        aria-hidden="true"></i><span>Back</span></a>
        <nav class="navbar navbar-light bg-info">
                <a class="navbar-brand">Site Logo ID: <%= sitelogo.id %></a>
                <a href="/sitelogos/<%= sitelogo.id %>/edit" class="btn btn-warning text-dark" title="Change Logo"><i
                                class="fa fa-cloud" aria-hidden="true"></i>Change Image
                </a>


                <%- include('../partials/deleteForm', { url: `/sitelogos/${sitelogo.id}`}) %>
        </nav>
        <hr class="my-1 document-divider" />
        <img height="150" width="200" src="<%= sitelogo.sitelogoPath %>" class="align-self-start mr-3 mobile-320-img"
                alt="Profile Image">


</div>