<div class="form-group row">
  <label for="userName" class="col-sm-2 col-form-label">User Name</label>
  <div class="col-sm-10">
    <input type="text" name="userName" value="<%= admin.userName %>" class="form-control" id="userName"
      placeholder="User name">
  </div>
</div>
<div class="form-group row">
  <label for="userEmail" class="col-sm-2 col-form-label">Email</label>
  <div class="col-sm-10">
    <input type="email" name="userEmail" class="form-control" id="userEmail" placeholder="User email address"
      value="<%= admin.userEmail %>">
  </div>
</div>
<div class="form-group row">
  <label for="adminRole" class="col-sm-2 col-form-label">Admin Role <span class="role"><button type="button"
        class="btn btn-sm btn-warning" data-toggle="popover" data-trigger="focus" title="Admin User Role"
        data-content="Super Admin Role passes CRUD (create, retrieve, update, delete) privileges to the user. Default is 'basicAdmin' unless you select 'superAdmin'. Beware!"><i
          class="fa fa-question-circle-o" aria-hidden="true"></i></button></span></label>
  <select name="adminRole" class="custom-select" id="adminRole">
    <option selected disabled value="">-- Select Admin Role --</option>
    <option name="superAdmin" value="superAdmin">Super Admin</option>
    <option name="basicAdmin" value="basicAdmin">Basic Admin</option>
  </select>
</div>

<div class="form-group row">
  <label for="userPassword" class="col-sm-2 col-form-label">Password</label>
  <div class="col-sm-10">
    <input type="password" name="userPassword" class="form-control" id="userPassword" placeholder="Password"
      value="<%= admin.userPassword %>">
  </div>
</div>