<div class="jumbotron container-fluid">
  <h1 class="display-4">Welcome, SuperAdmin!</h1>
  <p class="lead">Use the tabs below to insert and edit content.</p>
  <hr class="my-4">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-adminusers-tab" data-toggle="tab" href="#nav-adminusers" role="tab"
        aria-controls="nav-users" aria-selected="false">Admin</a>
      <a class="nav-item nav-link" id="nav-users-tab" data-toggle="tab" href="#nav-users" role="tab"
        aria-controls="nav-users" aria-selected="false">Members</a>
      <a class="nav-item nav-link" id="nav-logo-tab" data-toggle="tab" href="#nav-logo" role="tab"
        aria-controls="nav-logo" aria-selected="true">Logo</a>
      <a class="nav-item nav-link" id="nav-flashMessage-tab" data-toggle="tab" href="#nav-flashMessage" role="tab"
        aria-controls="nav-flashMessage" aria-selected="false">Info Flash</a>
      <a class="nav-item nav-link" id="nav-popUpInfo-tab" data-toggle="tab" href="#nav-popUpInfo" role="tab"
        aria-controls="nav-popUpInfo" aria-selected="false">Pop Up</a>
      <a class="nav-item nav-link" id="nav-shows-tab" data-toggle="tab" href="#nav-shows" role="tab"
        aria-controls="nav-shows" aria-selected="true">Shows</a>
      <a class="nav-item nav-link" id="nav-newsroom-tab" data-toggle="tab" href="#nav-newsroom" role="tab"
        aria-controls="nav-newsroom" aria-selected="false">News Update</a>

    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade admin-tab-pane show active" id="nav-adminusers" role="tabpanel"
      aria-labelledby="nav-users-tab">
      <h4 class="section-sub-heading">Admin Users And E-Class Management Console</h4>
      <div class="row">
        <div class="auto-grid">
          <a href="/brainstvadmins/new" class="btn btn-lg btn-success">Create New Admin User</a>
          <a href="/brainstvadmins/viewAdmin" class="btn btn-lg btn-primary">View/Modify Admin Users</a>
          <a href="/brainstvadmins/classes/new" class="btn btn-lg btn-success">Create New eClass Name</a>
          <a href="/brainstvadmins/classes" class="btn btn-lg btn-primary">View/Modify eClass Name</a>
          <a href="/brainstvadmins/faqs/new" class="btn btn-lg btn-success">Create New FAQ</a>
          <a href="/brainstvadmins/faqs" class="btn btn-lg btn-primary">View/Modify FAQs</a>
        </div>
      </div>

    </div>

    <div class="tab-pane fade admin-tab-pane" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
      <h4 class="section-sub-heading">View and Modify Club Members</h4>
      <div class="row">
        <div class="auto-grid">
          <a href="/clubmembers" class="btn btn-lg btn-primary">View Or Modify Club Member</a>
          <a href="/clubmembers/viewmemberbyid" class="btn btn-lg btn-primary">View Member by id test form</a>
          <a href="/categories/newcategory" class="btn btn-lg btn-success">Create/Add New Learner Style/Category</a>
          <a href="/categories" class="btn btn-lg btn-primary">View/Modify Learner Style/Category</a>
          <!-- <a href="/clubmembers" class="btn btn-lg btn-danger">Delete Club Member</a> -->

        </div>
      </div>
    </div>

    <div class="tab-pane fade admin-tab-pane" id="nav-logo" role="tabpanel" aria-labelledby="nav-logo-tab">
      <h4 class="section-sub-heading">Logo Management</h4>
      <div class="rrow">
        <div class="auto-grid">
          <a href="/sitelogos" class="btn btn-success">Upload Logo</a>

          <a href="/sitelogos/show" class="btn btn-danger">Delete Logo</a>
        </div>
      </div>
    </div>
    <div class="tab-pane fade admin-tab-pane" id="nav-flashMessage" role="tabpanel"
      aria-labelledby="nav-flashMessage-tab">
      <h4 class="section-sub-heading">Flash Information Management</h4>
      <div class="rrow">
        <div class="auto-grid">
          <a href="/flashinfos/new" class="btn btn-lg btn-success">Create/Add</a>
          <a href="/flashinfos" class="btn btn-lg btn-primary">View/Edit/Delete</a>
        </div>
      </div>
    </div>
    <div class="tab-pane fade admin-tab-pane" id="nav-popUpInfo" role="tabpanel" aria-labelledby="nav-popUpInfo-tab">
      <h4 class="section-sub-heading">Popup Window Management</h4>
      <div class="auto-grid">
        <a href="/popups/new" class="btn btn-lg btn-success">Create/Add</a>
        <a href="/popups" class="btn btn-lg btn-primary">View/Edit/Delete</a>
      </div>
    </div>
    <div class="tab-pane fade admin-tab-pane" id="nav-shows" role="tabpanel" aria-labelledby="nav-shows-tab">ON NOW,
      NEXT, LATER</div>
    <div class="tab-pane fade admin-tab-pane" id="nav-newsroom" role="tabpanel" aria-labelledby="nav-newsroom-tab">
      Post/Edit/Update/Delete News</div>


  </div>
</div>