<div class="jumbotron container-fluid">
    <a href="/brainstvadmins" class="btn btn-info marginTopBottomSmall"><i class="fa fa-arrow-circle-left"
            aria-hidden="true"></i><span>Back</span></a>

    <h4>Admin Users</h4>
    <hr class="my-4">

    <nav class="navbar navbar-light bg-info">
        <a class="navbar-brand">Search User Name</a>
        <form action="/brainstvadmins/viewAdmin" method="GET" class="form-inline my-2 my-lg-0 searchForm">
            <input class="form-control mr-sm-2" type="search" name="userName" value="<%= searchOptions.userName %>"
                placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0 searchBtn" type="submit">Search</button>

        </form>
    </nav>
    <div class="table-responsive-sm">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Admin Role</th>
                </tr>
            </thead>
            <tbody>
                <% admins.forEach(admin => { %>
                <tr>
                    <th scope="row"></th>
                    <td><%= admin.userName %></td>
                    <td><%= admin.userEmail %></td>
                    <td><%= admin.adminRole %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success" id="loader"><i class="fa fa-cloud"
                    aria-hidden="true"></i><span>Update</span></button>
        </div>
    </div>





</div>