<div class="jumbotron container-fluid">
    <a href="/brainstvadmins" class="btn btn-info marginTopBottomSmall"><i class="fa fa-arrow-circle-left"
            aria-hidden="true"></i><span>Back</span></a>

    <h4>Search Update Delete Club Member</h4>
    <hr class="my-4">

    <form class="needs-validation" novalidate action="/clubmembers" method="POST">
        <%- include('_form_admin_fields') %>
    </form>

</div>