@import 'shared/bootstrap.min.css';
@import 'shared/brainstvadmin.css';
@import 'shared/fontawesome.css';
@import 'shared/footer.css';
@import 'shared/fonts.css';
@import 'shared/globalStyles.css';
@import 'shared/header.css';
@import 'shared/informationFlash.css';
@import 'shared/mediaQueries.css';
@import 'shared/question-and-answer.css';
@import 'shared/variables.css';

* {
    border-radius: 0;
}

html {
    height: 100%;
}

body {
    /* background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light)); */
    font-weight: 300;
    font-size: 20px;
    font-family: var(--fontFamily);
    min-height: 100%;

}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #929496;
    margin-right: 0.5em;
    font-style: italic
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

.marginTopBottomSmall {
    margin: 0.5rem 0;
}

.marginTopBottomBig {
    margin: 2rem 0;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    */
}

/* ******************************** */
/* Placeholder and Form Styles */
/* ******************************** */
::placeholder {
    font-style: italic;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: transparent;
}

/* New Admin User Page */
/* _Form_Fields.ejs */
#adminRole {
    width: 280px;
    height: 45px;
    margin-left: 15px;
}

/* Loading Spinner */
#loadingSpinner {
    position: fixed;
    z-index: 3;
    background: rgb(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#loadingSpinner.show {
    display: block;
}

#loadingSpinner .fa {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -25px auto 0;
    color: #fff;
    display: block;
    width: 65px;
    font-size: 65px;
}

/* Errors */
#catchErrors,
#success {
    text-align: center;
    margin: 0 auto;
}

/* Club Members Registration */
.bg-newclubmember {
    background-image: url(../images/landscape.png);
    background-size: cover;
    background-attachment: scroll;
}

.bg-login-page {
    background-image: url(../images/areacharts.png);
    background-size: cover;
    background-attachment: scroll;
}

.bg-yellow {
    background-color: var(--bg-yellow);
    color: #2e2e2e !important;
}

.border-radius-none {
    border-radius: 0 !important;
}

.page-heading {
    /* display: inline-block; */
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-border {
    border: var(--form-border) !important;
}

.msf-cta {
    /* display: inline-block;
    font-weight: 400; */
    min-width: 85px;
    color: #141719;
    /* background-color: var(--primary) !important;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer; */
}

/* .msf-cta:hover {
    background-color: #0056b3 !important;
    color: var(--white);
} */

.fa-check-circle-o:before {
    content: "\f05d";
    /* vertical-align: sub !important; */
}

.form-li-flex {
    display: flex;
    list-style: none;
}

.form-li-flex p {
    margin-bottom: 5px;
    line-height: 1;
}

/* .msf-submit-cta {
    display: inline-block !important;
    text-align: right;
} */

.requiredfield {
    color: var(--red);
}

/* input[type="radio"]+span {
    display: block;
    min-width: 4rem;
    text-align: center;
    border: 2px solid var(--primary);
    border-left: 0;
    padding: 5px 4px;
}

label:first-child input[type="radio"]+span {
    border-left: 2px solid var(--primary);
    border-radius: 3px;
}

input[type="radio"]:checked+span {
    background: var(--bg-yellow);
    border: 2px solid var(--bg-yellow);
    color: #2e2e2e;
    #28a745;
}

.radio_hidden {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.boy label:hover,
.girl label:hover,
.age label:hover {
    background-color: rgb(150, 190, 228);
    transform: translateY(-1px);
    transition: transform all 1s;
} */

/* BackToTop Style */
#backToTop {
    visibility: hidden;
    position: fixed;
    right: 1rem;
    bottom: 1.5rem;
    opacity: 0;
    z-index: 10005;
    transition: all 1s ease-in;
}

#backToTop.show {
    visibility: visible;
    opacity: 1;

}

.submit-success,
.submit-error {
    display: none;
    padding: 10px;
}

.submit-success.show,
.submit-error.show {
    display: block;
}

.noEmail {
    cursor: pointer;
    text-decoration: underline;
}

/* Cookie Notice */
.gdprRemove {
    display: none;
}

.gdpr {
    position: fixed !important;
    border: 1px solid rgb(149, 149, 149) !important;
    left: 10% !important;
    width: 80% !important;
    z-index: 2000 !important;
    color: rgb(255, 255, 255) !important;
    text-shadow: none !important;
    background: rgb(0, 0, 0) none repeat scroll 0% 0% !important;
    margin: 0px;
    box-shadow: 0 0.1em 0.2em var(--box-shadow2) !important;
    opacity: 0.9;
}

.overLay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1999;
    cursor: pointer;
}


.gdpr p {
    width: 95%;
}

.gdpr p,
.gdpr h2 {
    margin: 15px 35px 10px 35px !important;
    text-align: left !important;
    font: 10pt Verdana !important;

}

@media only screen and (max-width: 800px) {
    .gdpr {
        left: 0 !important;
        width: 100% !important;
    }

    .gdpr p,
    .gdpr h2 {
        margin: 0 !important;
        padding: 10px !important;
    }
}

#js__close__gdpr {
    cursor: pointer;
}

/* .editData,
.view,
.edit {
    color: var(--success);
}

.deleteData,
.delete {
    color: var(--danger);
}

.editData,
.deleteData {
    cursor: pointer;
} */

#recentImg {
    position: relative;
}

.recentImgName {
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    /* var(--color-background-dark); */
    color: var(--light);
    left: 0;
    bottom: 0;
    font-size: 10px;
    font-style: italic;
    padding: 0 0.5em;
    width: 100%;
    /* border: 1px solid rgba(0, 0, 0, .3) */
}

.recent-flex,
.main-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.recent_item,
.flex-item {
    flex-shrink: 0;
    margin-bottom: 0.5rem;
}

.membersList {
    width: 90%;
    margin: 0 auto;
}

.document-divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* border: 0; */
    border-top: 1px solid rgba(0, 0, 0, .5);
}

.dark-blue-gradient-background {
    background-color: var(--color-background-light);
    color: var(--light);
}

.flashinfo_input {
    width: 700px;
}