<div class="form-row align-items-center">
    <label for="flashInfoText" class="sr-only">Flash Information</label>
    <div class="col-md-8">
        <label class="sr-only" for="flashInfoText">Flash Information</label>
        <input type="text" class="form-control" name="flashInfoText" value="<%= flashinfo.flashInfoText %>"
            placeholder="Type flash info text here">
    </div>

    <div class="col-sm-3 my-1">
        <span class="role"><button type="button" class="btn btn-sm btn-warning" data-toggle="popover"
                data-trigger="focus" title="Learning Style/Category"
                data-content="This feature displays only one row of scrolling text at a time. This would be your latest entry. If you delete your entries, NO FLASH INFORMATION AVAILABLE scrolls."><i
                    class="fa fa-question-circle-o" aria-hidden="true"></i></button></span>
    </div>
</div>