<div class="form-row align-items-center">
    <label for="category" class="sr-only">Category</label>
    <!-- <div class="col-sm-3 my-1"> -->
    <div class="col-md-3">
        <label class="sr-only" for="memberCategory">Category</label>
        <input type="text" class="form-control" name="memberCategory" value="<%= membercategory.memberCategory%>">
    </div>

    <div class="col-sm-3 my-1">
        <span class="role"><button type="button" class="btn btn-sm btn-warning" data-toggle="popover"
                data-trigger="focus" title="Learning Style/Category"
                data-content="This feature serves to understand the learning style of members in other to provide better content for them. Note, you cannot delete a learning style that is already assigned to a member."><i
                    class="fa fa-question-circle-o" aria-hidden="true"></i></button></span>
    </div>
</div>