@font-face {
    font-family: 'Signika Negative';
    src: url('/fonts/SignikaNegative-Bold.woff2') format('woff2'),
        url('/fonts/SignikaNegative-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika Negative';
    src: url('/fonts/SignikaNegative-Regular.woff2') format('woff2'),
        url('/fonts/SignikaNegative-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika Negative';
    src: url('/fonts/SignikaNegative-Light.woff2') format('woff2'),
        url('/fonts/SignikaNegative-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Signika Negative';
    src: url('/fonts/SignikaNegative-Semibold.woff2') format('woff2'),
        url('/fonts/SignikaNegative-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

