@media only screen and (max-width: 2560px) {
    #userOptions {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #userOptions,
    .logout {
        cursor: pointer;
    }

    .userOptions {
        position: absolute;
        display: none;
        background-color: #003148;
        opacity: 0.99;
        font-size: 0.8em;
        border-top: 1px solid var(--light);
        border-radius: 0 0 3px 3px;
        top: 70px;
        z-index: 1;
    }

    .userOptions:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid var(--light);
        left: 70px;
        top: -8px;
    }

    .showUserOptions {
        display: block;
    }

    .mobileScreen {
        display: none;
    }

    .twelveplus {
        position: relative;
        margin-bottom: 1.5rem
    }

    .twelveplusfeedback {
        position: absolute;
        width: 100%;
        top: 80%;
        left: -182%;
        width: max-content;
        transform: translate(-188%, 28%);
    }

    /* Header ejs*/
    .menuItems {
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s;
    }

    .auto-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
        width: 60%;
        margin: 0 auto;
        gap: 10px;
    }

    .boxShadowGridPhotos {
        box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.9);
    }

    .auto-grid-front-page-shows {
        /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.9); */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
        /* width: 60%; */
        margin: 0 auto;
        gap: 20px;
        justify-items: center;
    }

    .auto-grid-front-page-shows-related-resources {
        /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.9); */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
        /* width: 60%; */
        margin: 0 auto;
        gap: 10px;
        justify-items: center;
    }

    .autoGridPhotos {
        position: relative;
        max-width: 60%;
        /* width: 60%; */
    }

    .sideThumbnails {
        position: relative;
    }

    .auto-grid-front-page-birthdays {
        /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.9); */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        margin: 0 auto;
        gap: 10px;
        align-items: center;
    }

    .view_member_auto-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
        /* width: 90%; */
        margin: 0 auto;
        gap: 10px;
    }

    .middleOR {
        position: relative;
    }

    .or {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(0, -50%);
    }
}

@media only screen and (hover: none) {

    /* Index ejs Start/Home page */
    #popUpMessageLabel {
        font-size: 23px;
    }

    .boxShadowGridPhotos {
        /* box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.9); */
    }

    .auto-grid-front-page-shows {
        /* box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.9); */
    }


    .auto-grid-front-page-birthdays {
        /* box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.9); */
        grid-template-columns: repeat(auto-fit, minmax(13em, 1fr));
    }


    #navbarNav .menuItems {
        margin-right: 0;
    }

    .navbar-nav .nav-item:not(:last-child) {
        margin-right: 0;
    }

    .menuItems:hover {
        transform: scale(1)
    }


    #logo {
        margin-top: -22px;
    }

    #backToTop {
        display: none;
    }

}

@media only screen and (max-width: 1024px) {
    .auto-grid {
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
        width: 90%;
    }
}

@media only screen and (max-width: 991px) {

    .btn:not(:disabled):not(.disabled),
    .msf-cta {
        border-radius: 0 !important;
    }

    .desktopScreen {
        display: none;
    }

    .mobileScreen {
        display: block;
    }

    .col-4,
    .col-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    /* Header ejs*/
    .navbar-nav .nav-item:nth-of-type(odd) {
        background-color: var(--light);
    }

    footer .nav-item:not(:last-child) {
        border-right: 0;
    }

    footer .nav-item {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    }

    .navbar-nav .menuItems {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }

    .or {
        left: 34%;
    }

    .twelveplusfeedback {
        position: absolute;
        top: 80%;
        left: -182%;
        width: max-content;
        transform: translate(-188%, 28%);
    }



}

@media only screen and (max-width: 768px) {
    .auto-grid {
        grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
        width: 80%;
    }
}

@media only screen and (max-width: 667px) {

    .wideTablets {
        /* display: none !important; */
    }

    .twelveplusfeedback {
        top: 80%;
        left: 130%;
        transform: translate(-30%, 28%);
    }
}


@media only screen and (max-width: 576px) {

    .autoGridPhotos {
        position: relative;
        width: 100%;
    }

    .sideThumbnails {
        position: relative;
    }

    /* Header ejs*/
    #searchForm,
    .searchForm {
        position: relative;
        width: 100%;
    }

    .informationFlash h3 {
        font-size: 1rem;
    }

    #searchBtn {
        background-color: var(--color-background-dark);
    }

    .searchBtn {
        background-color: var(--info);
    }

    #searchBtn,
    .searchBtn {
        position: absolute;
        top: -8px;
        right: 0;
        border-radius: 0 0.25rem 0.25rem 0;
    }

    .menuItems:hover {
        transform: scale(1)
    }

    /* BrainstvAdmin Index ejs */
    .display-4 {
        font-size: 30px;
    }

    /* Footer ejs */
    footer {
        font-size: 70%;
    }

    .auto-grid {
        grid-template-columns: 1fr;
        width: 90%;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 1.7rem;
    }

    /* Header ejs */
    #auth-link {
        font-size: 0.9rem;
    }

    footer .nav-item {
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    }

    .mobile-320-img {
        width: 50px;
        height: 50px;
    }

    /* .twelveplusfeedback {
        top: 80%;
        left: -104%;
        transform: translate(-30%, 28%);
    } */
}

@media only screen and (max-width: 320px) {
    html {
        font-size: 9px !important;
    }

    #searchBtn,
    .searchBtn {
        position: absolute;
        top: -5px;
        right: 1px;
        border-radius: 0 0.25rem 0.25rem 0;
    }



    /* .twelveplusfeedback {
        left: 60%;
        transform: translate(-4%, 28%);
    } */
}

@media only screen and (max-width: 280px) {

    /* .twelveplusfeedback {
        left: -60%;
        transform: translate(-4%, 28%);
    } */
}