:root {
    --fontFamily: 'Signika Negative';
    --box-shadow: 0 3px 4px 0.5px rgba(0, 0, 0, 0.3);
    --light-border: 1px solid rgba(0, 0, 0, .1);
    --bg-yellow: #f9ac18;
    --border-color: #007bbf;
    --form-border: 2px solid var(--border-color);




    --box-shadow2: 0 0 10px 0.5px rgba(0, 0, 0, 0.3);
    --color-base-hue: 200;
    --color-background-dark: hsl(var(--color-base-hue), 100%, 8%);
    --color-background-light: hsl(var(--color-base-hue), 100%, 16%);

    --primary-color-h: 156;
    --primary-color-s: 50%;
    --primary-color-l: 50%;
    --primary-color: hsl(var(--primary-color-h), var(--primary-color-s), var(--primary-color-l));
    --primary-color--light: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) + var(--lighten)));
    --primary-color--dark: hsl(var(--primary-color-h), var(--primary-color-s), calc(var(--primary-color-l) + var(--darken)));
    --secondary-color: hsl(calc(var(--primary-color-h) + 180), var(--primary-color-s), var(--primary-color-l));
    --lighten: 15%;
    --darken: -15%;

}