<div class="jumbotron container-fluid">
    <div class="form-group row">
        <div class="col-sm-10">
            <a href="/" class="btn btn-info"><i class="fa fa-arrow-circle-left"
                    aria-hidden="true"></i><span>Back</span></a>
        </div>
    </div>
    <nav class="navbar navbar-light bg-info">
        <a class="navbar-brand"><%= user.firstname.toUpperCase() %>, Please Update Password</a>
    </nav>
    <hr class="my-1 document-divider">
    <form class="form-user-password">
        <div class="card border-dark rounded-sm">
            <div class="card-header bg-warning">
                Data Card
            </div>
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col-md-5 mx-auto mb-2">
                        <label for="password-current" class="text-info mb-0">Current Password</label>
                        <input type="password" class="form-control form__input" name="currentPassword" required
                            placeholder="******" minlength='6' autocomplete="password-current" id="password-current">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mx-auto mb-2">
                        <label for="password" class="text-info mb-0">New Password</label>
                        <input type="password" class="form-control form__input" name="password" required
                            placeholder="******" minlength='6' autocomplete="new-password" id="password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 mx-auto mb-2">
                        <label for="confirmPassword" class="text-info mb-0">Confirm Password</label>
                        <input type="password" class="form-control form__input" name="confirmPassword" required
                            placeholder="******" minlength='6' autocomplete="new-password" id="password-confirm">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 mx-auto mb-2">
                        <button type="submit" class="btn btn-success btn--save-password" id="loader"><i
                                class="fa fa-cloud" aria-hidden="true"></i><span>Save password</span></button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>