<div class="row">
    <div class="col-4 desktopScreen">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-basic-list" data-toggle="list"
                href="#list-basic" role="tab" aria-controls="basic">Basic Information</a>
            <a class="list-group-item list-group-item-action" id="list-moreInfo-list" data-toggle="list"
                href="#list-moreInfo" role="tab" aria-controls="moreInfo">Tell us more about you</a>
            <a class="list-group-item list-group-item-action" id="list-contact-details-list" data-toggle="list"
                href="#list-contact-details" role="tab" aria-controls="contact-details">Contact details</a>
            <a class="list-group-item list-group-item-action" id="list-login-details-list" data-toggle="list"
                href="#list-login-details" role="tab" aria-controls="login-details">Create login details</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-basic" role="tabpanel" aria-labelledby="list-basic-list">
                <div class="card">
                    <div class="card-header bg-yellow">
                        Basic Information
                        <small class="mobileScreen">Already a
                            member?<a href="/login">
                                Sign
                                in
                                here</a></small>
                    </div>
                    <div class="card-body">
                        <small class="desktopScreen" style="position: absolute; top: 15px; right: 15px;">Already a
                            member?<a href="/login">
                                Sign
                                in
                                here</a></small>
                        <h5>With a BrainsTV Club account you can:</h5>
                        <ul class="list-group list-group-flush">
                            <li class="form-li-flex"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                <p>Add
                                    your
                                    profile picture</p>
                            </li>
                            <li class="form-li-flex"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                <p>Create your own user name</p>
                            </li>
                            <li class="form-li-flex"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                <p>And
                                    lots more...</p>
                            </li>
                        </ul>
                        <p>Fields marked with <span class="requiredfield">*</span> are required.</p>

                        <h5 class="marginTopBottomSmall">Full Name <span class="requiredfield">*</span></h5>
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <!-- <label for="firstname">First name</label> -->
                                <input type="text" name="firstname" class="form-control" id="firstname"
                                    placeholder="First name" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please enter your first name.</div>
                            </div>
                            <div class="col-md-4 mb-2">
                                <!-- <label for="lastname">Last name</label> -->
                                <input type="text" name="lastname" class="form-control" id="lastname"
                                    placeholder="Last name" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please enter your last name.</div>
                            </div>
                        </div>
                        <h5 class="marginTopBottomSmall">Email Address <span class="requiredfield">*</span></h5>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="email" name="email" class="form-control" id="email"
                                    placeholder="Your email address" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Please enter your email.</div>
                            </div>
                        </div>
                        <small class="noEmail">
                            <a tabindex="0" data-toggle="popover" data-trigger="focus" title="Email is Required"
                                data-content="Ask your parents or an adult to create one for you.">Don't have an
                                email address?</a>
                        </small>
                        <div class="switchIdButtons" style="display: flex !important;justify-content: flex-end;">
                            <a id="switch-list-moreInfo" class="btn btn-primary msf-cta">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-moreInfo" role="tabpanel" aria-labelledby="list-moreInfo-list">
                <div class="card">
                    <div class="card-header bg-yellow">
                        Tell us more about yourself
                    </div>
                    <div class="card-body">
                        <h5><span class="clubmember_firstname"></span> Nice to meet you.<br>
                        </h5>

                        <h5 class="marginTopBottomSmall">Are you... <span class="requiredfield">*</span></h5>
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" value="A BOY" id="boy" name="gender"
                                required>
                            <label class="custom-control-label" for="boy">A BOY</label>
                        </div>
                        <div class="custom-control custom-radio mb-3">
                            <input type="radio" class="custom-control-input" value="A GIRL" id="girl" name="gender"
                                required>
                            <label class="custom-control-label" for="girl">A GIRL</label>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please select a boy or girl.</div>
                        </div>

                        <h5 class="marginTopBottomSmall">How old are you? <span class="requiredfield">*</span></h5>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="age" id="6yrs" value="6" required>
                            <label for="6yrs" class="custom-control-label">6</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="age" id="7yrs" value="7" required>
                            <label for="7yrs" class="custom-control-label">7</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="age" id="8yrs" value="8" required>
                            <label for="8yrs" class="custom-control-label">8</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="age" id="9yrs" value="9" required>
                            <label for="9yrs" class="custom-control-label">9</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="age" id="10yrs" value="10" required>
                            <label for="10yrs" class="custom-control-label">10</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="age" id="11yrs" value="11" required>
                            <label for="11yrs" class="custom-control-label">11</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" name="age" id="12yrs" value="12" required>
                            <label for="12yrs" class="custom-control-label">12</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline twelveplus">
                            <input type="radio" class="custom-control-input" name="age" id="12+yrs" value="12+"
                                required>
                            <label for="12+yrs" class="custom-control-label">12+</label>
                            <div class="valid-feedback twelveplusfeedback">Looks good!</div>
                            <div class="invalid-feedback twelveplusfeedback">Please select your age.</div>
                        </div>
                        <div class="marginTopBottomSmall"></div>

                        <div class="switchIdButtons" style="display: flex !important;justify-content: space-between;">
                            <a id="switch-list-basic" class="btn btn-primary msf-cta">Previous</a>
                            <a id="switch-list-contact-details" class="btn btn-primary msf-cta">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-contact-details" role="tabpanel"
                aria-labelledby="list-contact-details-list">
                <div class="card">
                    <div class="card-header bg-yellow">
                        Your Contact Details
                    </div>
                    <div class="card-body">
                        <h5 class="marginTopBottomSmall">PHONE NUMBER <span class="requiredfield">*</span></h5>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="phone" class="form-control" placeholder="Phone number"
                                    required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Phone number is required.</div>
                            </div>
                        </div>
                        <h5 class="marginTopBottomSmall">Where do you live? <span class="requiredfield">*</span></h5>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" name="address" class="form-control" id="address"
                                    placeholder="Your address" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Address is required.</div>
                            </div>
                        </div>
                        <div class="switchIdButtons" style="display: flex !important;justify-content: space-between;">
                            <a id="switch-2list-moreInfo" class="btn btn-primary msf-cta">Previous</a>
                            <a id="switch-list-login-details" class="btn btn-primary msf-cta">Next</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-login-details" role="tabpanel"
                aria-labelledby="list-login-details-list">
                <div class="card">
                    <div class="card-header bg-yellow">
                        Create you password
                    </div>
                    <div class="card-body">
                        <h5>Almost there...<br>
                            You need to create a secret password to use with your email address when you sign in.</h5>
                        <h5 class="marginTopBottomSmall">CHOOSE YOUR PASSWORD <span class="requiredfield">*</span></h5>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" name="password" class="form-control mx-sm-3"
                                    aria-describedby="passwordHelpInline" id="password"
                                    placeholder="Enter your password" required>
                                <small id="passwordHelpInline" class="text-muted">
                                    <span class="requiredfield">Must be at least6 characters long.</span>
                                </small>
                            </div>
                        </div>

                        <h5 class="marginTopBottomSmall">CONFIRM YOUR PASSWORD</h5>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" name="confirmpassword" id="confirmpassword"
                                    class="form-control mx-sm-3" aria-describedby="confirmPasswordHelpInline"
                                    id="password" placeholder="Confirm your password" required>
                                <div class="valid-feedback">Looks good!</div>
                                <div class="invalid-feedback">Password does not match.</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input class="custom-control-input" type="checkbox" name="TNC" id="check" value="YES">
                                <label class="custom-control-label" for="check">
                                    <small>Tick box to submit registration form if you have read and accepted our
                                        terms.</small>
                                </label>
                            </div>
                        </div>
                        <div class="switchIdButtons" style="display: flex !important;justify-content: space-between;">
                            <a id="switch-2list-contact-details" class="btn btn-primary msf-cta">Previous</a>
                            <button type="submit" class="btn btn-success msf-submit-cta btncheck"
                                id="loader">Submit</button>
                        </div>
                        <!-- <div class="submit-success alert-primary marginTopBottomSmall">Form successfully submitted</div>
                        <div class="submit-error alert-warning marginTopBottomSmall">There was an error, review all
                            fields
                            highlighted
                            in red and try again. <span class="requiredfield fa-stack fa-sm">
                                <i class="fa fa-circle-o fa-stack-2x"></i>
                                <i class="fa fa-exclamation fa-stack-1x"></i>
                            </span></div> -->

                    </div>
                </div>
            </div>





        </div>
    </div>
</div>