<div class="jumbotron container-fluid _bg-newclubmember">
    <!-- <a href="/" class="btn btn-info marginTopBottomSmall"><i class="fa fa-arrow-circle-left"
            aria-hidden="true"></i><span>Back</span></a> -->
    <!-- <h4 class="border-radius-none page-heading bg-yellow">Brains Club Registration</h4>
    <div class="card transparency">

        </form>
    </div> -->

    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3 class="text-center">You are about to unlock awesome benefits!</h3>
            <p>Joining the Brains club will give amazing benefits like promo vouchers, chance to win amazing prizes, be
                part
                of our live studio audience, appear on our birthday slides etc</p>
            <p>Your annual subscription is N863.93 (this includes Flutterwave charges) I.e N852 is your annual
                subscription
                contribution and N11.93 is Flutterwave charges</p>

            <div class="text-center">
                <a href="https://flutterwave.com/pay/brainsclub" class="btn btn-outline-primary mt-3">Make Payment
                    Now</a>
            </div>
        </div>
    </div>

</div>