<div class="jumbotron container-fluid bg-newclubmember">
    <a href="/" class="btn btn-danger marginTopBottomSmall"><i class="fa fa-times-circle"
            aria-hidden="true"></i><span>Cancel</span></a>
    <h4 class="border-radius-none page-heading bg-yellow">Brains Club Registration</h4>
    <hr class="my-1">
    <form action="/clubmembers" method="POST">
        <%- include('_form_fields') %>
    </form>

</div>