<div class="jumbotron container-fluid bg-newclubmember">
    <!-- <h4 class="border-radius-none page-heading bg-yellow">Brains Club Registration Completed!</h4> -->
    <hr class="my-1">
    <div class="card transparency">
        <h4 class="card-header page-heading bg-success">Brains Club Registration Completed!</h4>
        <div class="card-body">
            <h5 class="card-title">Thank you for registering!. You can enjoy the following features and many more.</h5>
            <ul class="list-group list-group-flush">
                <li class="form-li-flex"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    <p>Add
                        your
                        profile picture</p>
                </li>
                <li class="form-li-flex"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    <p>Play games,</p>
                </li>
                <li class="form-li-flex"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    <p>Browse and watch videos,</p>
                </li>
                <li class="form-li-flex"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    <p>Creative activities,</p>
                </li>

                <li class="form-li-flex"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    <p>Join our E-Classroom,</p>
                </li>
                <li class="form-li-flex"><i class="fa fa-check-circle-o" aria-hidden="true"></i>
                    <p>And
                        lots more...</p>
                </li>

            </ul>
            <p class="card-text">We will be providing upto date content tailored to your needs.</p>
            <a href="/" class="btn btn-info marginTopBottomSmall mobileScreen desktopScreen"><i class="fa fa-home"
                    aria-hidden="true"></i><span>Home</span></a>
            <a href="/" class="btn btn-info marginTopBottomSmall desktopScreen"><i class="fa fa-home"
                    aria-hidden="true"></i><span>Return to Home page</span></a>
            <!-- <a href="clubmembers/login" class="btn btn-info marginTopBottomSmall desktopScreen"><i class="fa fa-user"
                    aria-hidden="true"></i>Sign in to update your
                profile</a>
            <a href="clubmembers/login" class="btn btn-info marginTopBottomSmall mobileScreen"><i class="fa fa-user"
                    aria-hidden="true"></i><span>Sign in</span></a> -->
            <a href="/brainstv/shows" class="btn btn-info marginTopBottomSmall desktopScreen"><i
                    class="fa fa-television" aria-hidden="true"></i>Dive into Shows</a>
            <a href="/brainstv/shows" class="btn btn-info marginTopBottomSmall mobileScreen"><i class="fa fa-television"
                    aria-hidden="true"></i><span>Shows</span></a>
        </div>
    </div>


</div>