<div class="form-row align-items-center">
    <label for="livestreamURL" class="sr-only">Live Stream URL ID</label>
    <div class="col-md-8">
        <input type="text" class="form-control" name="livestreamURL" value="<%= livestream.livestreamURL%>"
            placeholder="Enter live stream URL">
    </div>

    <div class="col-sm-3 my-1">
        <span class="role"><button type="button" class="btn btn-sm btn-warning" data-toggle="popover"
                data-trigger="focus" title="URL From Streaming Platform"
                data-content="This is the original URL from your streaming platform. Example Youtube live stream."><i
                    class="fa fa-question-circle-o" aria-hidden="true"></i></button></span>
    </div>
</div>