<div class="jumbotron container-fluid">

    <nav class="navbar navbar-light bg-info">
        <a class="navbar-brand"><small>Receive email
                with
                password reset link.</small></a>
    </nav>
    <!-- <hr class="my-1 document-divider"> -->
    <form class="forgottenpassword" action="/clubmembers/forgotPassword" method="POST">
        <div class="card border-dark rounded-sm">
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col-md-5 mx-auto mb-2">
                        <label for="email" class="text-info mb-0">Email <span class="requiredfield">*</span></label>
                        <input type="email" class="form-control form__input" name="email" id="email" required
                            placeholder="Please enter your user email here">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 mx-auto mb-2">
                        <button type="submit" class="btn btn-success btn--save-password" id="loader"><i
                                class="fa fa-envelope" aria-hidden="true"></i><span>Send password reset
                                email</span></button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>