<main>
    <div class="row">
        <div class="col-sm-5">
            <div class="jumbotron desktopScreen">
                <h1>BrainsTV Club</h1>
                <p>Welcome to Brains club. Please login</p>
            </div>
            <div class="p-3 mobileLogin mobileScreen">
                <h1>BrainsTV Club</h1>
                <p>Welcome to Brains club. Please login</p>
            </div>
        </div>

        <div class="col-sm-7">
            <!-- <form class="form" action="/api/v1/clubmembers/login" method="POST"> -->
            <form class="form" id="loginForm">
                <div class="form-group col-md-8 mt-3 mb-1">
                    <label for="email"><small>Email</small></label>
                    <input type="email" class="form-control form__input" name="email" id="email"
                        aria-describedby="emailHelp" placeholder="e.g you@domain.com" autocomplete="user-email"
                        required>
                </div>
                <div class="form-group col-md-8 mb-2">
                    <label for="loginPassword"><small>Password</small></label>
                    <input type="password" class="form-control form__input" name="password" id="password"
                        placeholder="******" minlength="6" autocomplete="current-password" required>
                </div>

                <div class="form-group col-md-8">
                    <button type="submit" class="btn dark-blue-gradient-background" id="loader">Sign In</button>
                </div>
            </form>
            <div class="form-group col-md-8 my-0">
                <small><a href="/clubmembers/forgotten" style="color: #002e5f;"> Forgot Password</a></small>
            </div>
            <div class="form-group col-md-8">
                <small>Don't have an account?<a href="/clubmembers/joining-brains-club-is-easy" style="color: #002e5f;">
                        Join
                        here</a></small>
            </div>
        </div>

    </div>
</main>